@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* Base Styles */
*{
  font-family: "Montserrat";
  font-weight: 100;
  margin: 0;
  padding: 0;
}
::selection{
  color: #ecd60f;
  background-color: rgba(61, 246, 4, 0.3);
}
.main-app{
  position: relative;
}
/* Nav styles */
nav{
  display: inline-block;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(0,0,0,0.55);
}
.links{
  padding: 15px;
  font-size: 25px;
  color: #f0b209;
}
.links a{
  padding: 0 10%;
  text-decoration: none;
  color: #4de905;
}
.links a:hover{
  color: #f33016;
  text-shadow: 1px 1px 4px #ca8009;

}

/* Home page styles */
.home{
  text-align: center;
  color:#1ef30b;
  text-shadow: 4px 4px 12px #02200e;
}
#color-overlay, .background-image-home, .background-image-menu, .background-image-contact {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
}
.background-image-home{
  background:  url('../public/restaurant_BG_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#color-overlay{
  background-color: #000000;
  opacity: 0.7;
}
.home-container{
  background-color: rgba(0,0,0,0.5);
  padding: 15px;
  margin-top: 15%;
}
.home .home-container h2{
  font-size: 50px;
  font-weight: 700;
  z-index: 3;
}
.home .home-container p{
  font-size: 35px;
  z-index: 3;
}

/* Menu styles */
.background-image-menu, .background-image-contact{
  background:  url('../public/restaurant_BG_2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.menu, .contact{
  border-radius: 10px;
  margin-top: 20px;
  background-color: rgba(0,0,0,0.7);
  color: #fad60b;
  text-shadow: 1px 1px 1px #240f01;
  text-align: center;
}
.menu-title{
  text-align: center;
  padding: 5px;
  border-bottom: solid 1px #000000;
  margin-bottom: 15px;
  display: inline-block;
  border-bottom: groove 2px #158301;
}
.menu-item{
  text-align: center;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
}
.menu-item img{
  width: 300px;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 5px;
}
.menu-item h2{
  font-size: 27px;
}
.menu-item h4{
  font-size: 19px;
  text-shadow: 1px 1px 1px #031103;
  font-weight: 700;
}

/* Contact Form styles */
.contact-form{
  padding:0 15px;
}
.contact{
  max-width: 500px;
  margin: 15px auto;
  text-align: center;
}
.contact label{
  text-align: left;
  display: block;
  font-size: 20px;
}
.contact h2{
  font-size: 25px;
  color: #f15b29;
  margin-bottom: 30px;
  padding-top: 15px;
}
.contact input, .contact select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
  text-align: center;

}
.contact button{
  background: #f15b29;
  color: #ddd;
  border: 0;
  padding: 6px;
  border-radius: 6px;
  cursor: pointer;
  margin: 5px;
}

/* Footer Styles */
.footer{
  background-image: linear-gradient(to right,#0c3a00 ,rgb(4, 163, 44) , #0c3a00);
  color: #b65507;
  text-shadow: 2px 2px 4px #213124;
  width: 100%;
  padding:10px;
  margin-top: 25px;
}
.footer-row{
  border-radius: 15px;
  background-color: rgba(0,0,0,0.5);
}
ul{
  list-style: none;
}
.contact-numbers, .contact-address, .contact-links{
  text-align: center;
  font-size: 17px;
  padding-top: 15px;
  text-shadow: 1px 1px 2px #031103;  
  color: #fad60b;

}
.footer ul{
  padding-left: 0;
}
.heading{
  padding-bottom: 3px;
  font-size: 21px;
  color:#faa010;
}

/* media queries */
@media screen and (max-width: 635px){
  .links a{
    padding: 0 5%;
  }
}